<div id="recipes">
 <% @recipes.each do |recipe| %>
   <button v-on:click="getIngredients(<%= recipe.id %>)"><%= recipe.id %></button>
 <% end %>
 <div>
   <p>{{ ingredients }}</p>
 </div>
</div>
<%= javascript_pack_tag 'hello_vue' %>

<style>
	button {
		font-size: 20px;
	}
</style>
